nav {
    background-color: #055160;
    padding-top: 1rem;
    padding-bottom: 1rem;
    position: sticky;
    top: 0;
}

.color-white {
    color: white;
}

.hamburger-container {
    width: 50px;
    padding: 4px 10px;
    border: 1px solid white;
    border-radius: 6px;
}

.jumbo {
    background-color: #3BBC9C;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.profile-container img {
    width: 100%;
}

.profile-container {
    max-width: 220px;
    margin-bottom: 2rem;
}

.star-and-line-container {
    width: 75%;
    max-width: 500px;
    margin-bottom: 1rem;
}

.line-bf-star {
    height: 4px;
    width: 100%;
    background-color: white;
}

.star-container {
    width: 70%;
    min-width: 30px;
    max-width: 40px;
}

.portfolio {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.portfolio .line-bf-star {
    background-color: black;
}

.portfolio-card .img-container img {
    width: 100%;
    border-radius: 10px;
}
